.header {
    width: 100vw;
    background: rgb(221,235,226);
    /* background: linear-gradient(180deg, rgba(221,235,226,1) 0%, rgba(221,235,226,1) 60%, rgba(221,235,226,0) 60%, rgba(221,235,226,0) 100%); */
}