.header_item:hover {
    border-bottom: 0px solid #4a4a4a;
}

.header_item_img {
    transition: all .1s ease-in-out;
}
.header_item_img:hover{
    transform: scale(1.05);
    -webkit-box-shadow: -2px 4px 67px -10px rgba(0,0,0,0.47);
    -moz-box-shadow: -2px 4px 67px -10px rgba(0,0,0,0.47);
    box-shadow: -2px 4px 67px -10px rgba(0,0,0,0.47);
}
