.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

.input {
    padding: 9px 12px;
    background-color: white;
    border-radius: 6px;
    border: 0.5px solid black;
    box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
    padding: 9px 12px;
}

.input::placeholder {
    font-family: sans-serif;
}
.check {
    height: 30px;
    width: 30px;
}

input[type='checkbox'] {
    accent-color: black;
}